
<h1>My tasks</h1>



<% @tasks.each do |task|%>
<div class="container">
  <% if task.completed == true %>
    <input type="checkbox" name="tasks" checked>
  <% else %>
    <input type="checkbox" name="tasks" value= <%= task.title%>>
  <% end %>
    <label for="tasks"> <%= link_to task.title, task_path(task)%></label>
</div>
<% end %>

<div>

<%= link_to "Add a new task", tasks_new_path%>

</div>

